h1 {
    color: palevioletred;
}
h2 {
    color:lightcoral;
    text-decoration:underline;
}
h1,h2 {
    font-family:'Times New Roman', Times, serif
}

p,li {
    font-family: 'Courier New', Courier, monospace;
}

/* look for any id that says.. */
#banner{
    background-color: lightpink;
}

#nav{
    background-color: beige;
    color: moccasin;
    padding: 10px;
    text-align: center ;
}

#nav a{
    color:palevioletred;
    text-decoration: none;
    font-size: large;
    margin-right: 8px;
}