h1 {
    color: palevioletred;
}
h2 {
    color:lightcoral;
    text-decoration:underline;
}
h1,h2 {
    font-family:'Times New Roman', Times, serif
}

p,li {
    font-family: 'Courier New', Courier, monospace;
}

/* look for any id that says.. */
#banner{
    background-color: lightpink;
    /* padding enlarges spacing around the text */
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}
/* banner, find any p tags that you have and make margin 0 */
#banner p{
    /* gives or removes margin spacing */
    margin: 0;
}
#nav, nav, nav{
    background-color: beige;
    color: moccasin;
    padding: 10px;
    text-align: center ;
}

/* go to nav bar, hover above the links, change deco */
#nav a:hover, nav a:hover, nav a:hover{
    color: lightsalmon;
    background-color:antiquewhite;
    padding: 10px;
}

/* styling the nav bar */
#nav a, nav a, nav a{
    color:palevioletred;
    text-decoration: none;
    font-size: large;
    margin-right: 8px;
}

#footer, footer, footer{
    background-color: rgb(224, 203, 171);
    min-height: 150px ;
    text-align: center;
}

#footer a, footer a, footer a{
    color: rgb(233, 57, 86);
    text-decoration: overline;

}
/* centre aligns main content of the webpage based on the screen it is on */
#main, main, main{
    width: 80% ;
    margin: 0 auto ;
}

/* space between articles */
#article{
    margin-bottom: 50px ;
}

/* all logos will have this size */
.logo {
    height: 50px;
    width: 50px;
}

/* for any paragraph to have this specific style, use this class */
.diffAppearance{
    font-size: 14;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

